In [81]:
import pandas as pd

In [82]:
df = pd.read_excel('../data/processed_data/Meganium_Sales_data.xlsx')
df.head()

,SKU,product_sold,date_sold,quantity,unit_price,total_price,currency,site,discount_coupon,discount_value,buyer_birth_date,buyer_name,delivery_country,invoice_id
0,SKU-35XX01,NEW MEGANIUM RG35XX,2024-09-03,2,90,180,GBP,AliExpress,COUPONNRpQv,52.47,1974-10-20,Timothy Flowers,Australia,a133114a-6d3b-44ac-a588-04028820762a
1,SKU-28XX01,NEW MEGANIUM RG28XX,2024-10-16,1,70,70,USD,AliExpress,COUPONSSJQZ,6.71,1991-06-30,Brandy King,Australia,96c63b78-fcd8-45c7-a086-001ec19f1c13
2,SKU-CUBEXX01,NEW MEGANIUM RG CubeXX,2024-10-02,4,80,320,USD,AliExpress,COUPONWBhjX,29.84,1976-09-17,Louis Davis,Australia,4f24b99e-5627-4478-ad5f-ed7b79cfa2a8
3,SKU-35XX01,NEW MEGANIUM RG35XX,2024-08-10,4,90,360,GBP,AliExpress,COUPONvRzLS,78.12,2000-11-22,Andrew Miller,UK,2d6b5daf-d8a8-4714-aa57-59bb89d589a3
4,SKU-40XXV01,NEW MEGANIUM RG 40XXV,2024-05-18,5,100,500,USD,AliExpress,COUPONRbjRy,46.51,1986-05-22,Andrew Moreno,Germany,a856dbb2-cb42-42fd-b071-df636493a294

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SKU               60 non-null     object
 1   product_sold      60 non-null     object
 2   date_sold         60 non-null     datetime64[ns]
 3   quantity          60 non-null     int64
 4   unit_price        60 non-null     int64
 5   total_price       60 non-null     int64
 6   currency          60 non-null     object
 7   site              60 non-null     object
 8   discount_coupon   60 non-null     object
 9   discount_value    60 non-null     float64
 10  buyer_birth_date  60 non-null     datetime64[ns]
 11  buyer_name        60 non-null     object
 12  delivery_country  60 non-null     object
 13  invoice_id        60 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(3), object(8)
memory usage: 6.7+ KB

In [84]:
# Analisando a quantidade de vendas de cada produto por pais
qtd_por_pais = df.groupby(['delivery_country', 'product_sold'])['quantity'].sum().reset_index().sort_values(
    ['delivery_country', 'quantity'], ascending=[True, False]
).reset_index(drop=True)
qtd_por_pais

   delivery_country            product_sold  quantity
0         Australia  NEW MEGANIUM RG CubeXX        13
1         Australia     NEW MEGANIUM RG28XX         8
2         Australia         MEGANIUM RG353M         5
3         Australia     NEW MEGANIUM RG35XX         2
4            Canada   NEW MEGANIUM RG 40XXV        19
5            Canada     NEW MEGANIUM RG35XX        14
6            Canada     NEW MEGANIUM RG28XX        11
7            Canada  NEW MEGANIUM RG CubeXX         2
8            France     NEW MEGANIUM RG35XX        12
9            France  NEW MEGANIUM RG CubeXX         9
10           France         MEGANIUM RG353M         6
11           France     NEW MEGANIUM RG28XX         5
12           France   NEW MEGANIUM RG 40XXV         4
13          Germany   NEW MEGANIUM RG 40XXV         7
14          Germany     NEW MEGANIUM RG28XX         7
15          Germany  NEW MEGANIUM RG CubeXX         5
16          Germany         MEGANIUM RG353M         3
17          Germany     NEW MEGANIUM RG35XX         1
18            Japan   NEW MEGANIUM RG 40XXV        11
19            Japan         MEGANIUM RG353M         6
20            Japan  NEW MEGANIUM RG CubeXX         5
21            Japan     NEW MEGANIUM RG28XX         5
22               UK     NEW MEGANIUM RG35XX         7
23               UK         MEGANIUM RG353M         5
24               UK  NEW MEGANIUM RG CubeXX         1
25              USA         MEGANIUM RG353M         4
26              USA  NEW MEGANIUM RG CubeXX         1

In [85]:
# Selecionando apenas o produto mais vendido por pais (valor)
maiores_vendas_qtd = qtd_por_pais.groupby('delivery_country').first().reset_index()
maiores_vendas_qtd

  delivery_country            product_sold  quantity
0        Australia  NEW MEGANIUM RG CubeXX        13
1           Canada   NEW MEGANIUM RG 40XXV        19
2           France     NEW MEGANIUM RG35XX        12
3          Germany   NEW MEGANIUM RG 40XXV         7
4            Japan   NEW MEGANIUM RG 40XXV        11
5               UK     NEW MEGANIUM RG35XX         7
6              USA         MEGANIUM RG353M         4

In [86]:
# Analisando o valor arrecadado por cada produto por pais s/cupom
valor_por_pais = df.groupby(['delivery_country', 'product_sold'])['total_price'].sum().reset_index().sort_values(
    ['delivery_country', 'total_price'], ascending=[True, False]
).reset_index(drop=True)
valor_por_pais

   delivery_country            product_sold  total_price
0         Australia  NEW MEGANIUM RG CubeXX         1040
1         Australia     NEW MEGANIUM RG28XX          560
2         Australia         MEGANIUM RG353M          550
3         Australia     NEW MEGANIUM RG35XX          180
4            Canada   NEW MEGANIUM RG 40XXV         1900
5            Canada     NEW MEGANIUM RG35XX         1260
6            Canada     NEW MEGANIUM RG28XX          770
7            Canada  NEW MEGANIUM RG CubeXX          160
8            France     NEW MEGANIUM RG35XX         1080
9            France  NEW MEGANIUM RG CubeXX          720
10           France         MEGANIUM RG353M          660
11           France   NEW MEGANIUM RG 40XXV          400
12           France     NEW MEGANIUM RG28XX          350
13          Germany   NEW MEGANIUM RG 40XXV          700
14          Germany     NEW MEGANIUM RG28XX          490
15          Germany  NEW MEGANIUM RG CubeXX          400
16          Germany         MEGANIUM RG353M          330
17          Germany     NEW MEGANIUM RG35XX           90
18            Japan   NEW MEGANIUM RG 40XXV         1100
19            Japan         MEGANIUM RG353M          660
20            Japan  NEW MEGANIUM RG CubeXX          400
21            Japan     NEW MEGANIUM RG28XX          350
22               UK     NEW MEGANIUM RG35XX          630
23               UK         MEGANIUM RG353M          550
24               UK  NEW MEGANIUM RG CubeXX           80
25              USA         MEGANIUM RG353M          440
26              USA  NEW MEGANIUM RG CubeXX           80

In [87]:
# Selecionando apenas o produto mais vendido por pais (valor)
maiores_vendas_valor = valor_por_pais.groupby('delivery_country').first().reset_index()
maiores_vendas_valor

  delivery_country            product_sold  total_price
0        Australia  NEW MEGANIUM RG CubeXX         1040
1           Canada   NEW MEGANIUM RG 40XXV         1900
2           France     NEW MEGANIUM RG35XX         1080
3          Germany   NEW MEGANIUM RG 40XXV          700
4            Japan   NEW MEGANIUM RG 40XXV         1100
5               UK     NEW MEGANIUM RG35XX          630
6              USA         MEGANIUM RG353M          440

In [ ]:
# Analisando o valor de desconto por produto em cada pais
desconto_por_pais = df.groupby(['delivery_country', 'product_sold'])[
    'discount_value'].sum().reset_index().sort_values(
    ['delivery_country', 'discount_value'], ascending=[True, False]
).reset_index(drop=True)
desconto_por_pais

   delivery_country            product_sold  discount_value
0         Australia         MEGANIUM RG353M          158.09
1         Australia  NEW MEGANIUM RG CubeXX          156.57
2         Australia     NEW MEGANIUM RG28XX           66.12
3         Australia     NEW MEGANIUM RG35XX           52.47
4            Canada   NEW MEGANIUM RG 40XXV          396.35
5            Canada     NEW MEGANIUM RG35XX          215.38
6            Canada     NEW MEGANIUM RG28XX          102.64
7            Canada  NEW MEGANIUM RG CubeXX           45.67
8            France     NEW MEGANIUM RG35XX          223.97
9            France  NEW MEGANIUM RG CubeXX          117.75
10           France     NEW MEGANIUM RG28XX           90.57
11           France         MEGANIUM RG353M           47.91
12           France   NEW MEGANIUM RG 40XXV           31.22
13          Germany     NEW MEGANIUM RG28XX           99.32
14          Germany         MEGANIUM RG353M           89.46
15          Germany   NEW MEGANIUM RG 40XXV           75.25
16          Germany  NEW MEGANIUM RG CubeXX           28.80
17          Germany     NEW MEGANIUM RG35XX            7.11
18            Japan   NEW MEGANIUM RG 40XXV          170.25
19            Japan         MEGANIUM RG353M          162.07
20            Japan  NEW MEGANIUM RG CubeXX          112.31
21            Japan     NEW MEGANIUM RG28XX           55.17
22               UK     NEW MEGANIUM RG35XX          138.04
23               UK         MEGANIUM RG353M           51.33
24               UK  NEW MEGANIUM RG CubeXX            9.30
25              USA         MEGANIUM RG353M           43.29
26              USA  NEW MEGANIUM RG CubeXX            4.16

In [101]:
# Selecionando apenas os produtos com mais desconto por pais 
maiores_descontos = desconto_por_pais.groupby('delivery_country').first().reset_index()
maiores_descontos

  delivery_country           product_sold  discount_value
0        Australia        MEGANIUM RG353M          158.09
1           Canada  NEW MEGANIUM RG 40XXV          396.35
2           France    NEW MEGANIUM RG35XX          223.97
3          Germany    NEW MEGANIUM RG28XX           99.32
4            Japan  NEW MEGANIUM RG 40XXV          170.25
5               UK    NEW MEGANIUM RG35XX          138.04
6              USA        MEGANIUM RG353M           43.29

In [ ]:
#verificando se o produto mais vendido é o que mais arrecadou
maiores_vendas_qtd['product_sold'] == maiores_vendas_valor['product_sold']

0    True
1    True
2    True
3    True
4    True
5    True
6    True
Name: product_sold, dtype: bool

In [102]:
#verificando se o mais vendido é o com o maior desconto
maiores_vendas_qtd['product_sold'] == maiores_descontos['product_sold']

0    False
1     True
2     True
3    False
4     True
5     True
6     True
Name: product_sold, dtype: bool

In [128]:
from datetime import datetime

df['age'] = df['buyer_birth_date'].apply(
    lambda x: datetime.now().year - x.year if pd.notnull(x) else None)

#verificando a faixa etária média dos clientes por produto e pais
faixa_etaria = df.groupby(['delivery_country', 'product_sold'])['age'].mean().reset_index()
faixa_etaria.merge(
    desconto_por_pais, on=['delivery_country', 'product_sold'], how='inner')

   delivery_country            product_sold        age  discount_value
0         Australia         MEGANIUM RG353M  54.000000          158.09
1         Australia  NEW MEGANIUM RG CubeXX  45.500000          156.57
2         Australia     NEW MEGANIUM RG28XX  39.000000           66.12
3         Australia     NEW MEGANIUM RG35XX  51.000000           52.47
4            Canada   NEW MEGANIUM RG 40XXV  36.500000          396.35
5            Canada  NEW MEGANIUM RG CubeXX  27.000000           45.67
6            Canada     NEW MEGANIUM RG28XX  32.333333          102.64
7            Canada     NEW MEGANIUM RG35XX  42.250000          215.38
8            France         MEGANIUM RG353M  43.500000           47.91
9            France   NEW MEGANIUM RG 40XXV  54.000000           31.22
10           France  NEW MEGANIUM RG CubeXX  42.000000          117.75
11           France     NEW MEGANIUM RG28XX  50.666667           90.57
12           France     NEW MEGANIUM RG35XX  38.500000          223.97
13          Germany         MEGANIUM RG353M  36.000000           89.46
14          Germany   NEW MEGANIUM RG 40XXV  40.000000           75.25
15          Germany  NEW MEGANIUM RG CubeXX  44.000000           28.80
16          Germany     NEW MEGANIUM RG28XX  54.000000           99.32
17          Germany     NEW MEGANIUM RG35XX  46.000000            7.11
18            Japan         MEGANIUM RG353M  45.500000          162.07
19            Japan   NEW MEGANIUM RG 40XXV  48.000000          170.25
20            Japan  NEW MEGANIUM RG CubeXX  56.000000          112.31
21            Japan     NEW MEGANIUM RG28XX  20.000000           55.17
22               UK         MEGANIUM RG353M  46.000000           51.33
23               UK  NEW MEGANIUM RG CubeXX  58.000000            9.30
24               UK     NEW MEGANIUM RG35XX  36.500000          138.04
25              USA         MEGANIUM RG353M  37.000000           43.29
26              USA  NEW MEGANIUM RG CubeXX  44.000000            4.16

In [124]:
faixa_etaria = faixa_etaria.merge(
    maiores_vendas_qtd, on=['delivery_country', 'product_sold'], how='inner')
faixa_etaria

  delivery_country            product_sold   age  quantity
0        Australia  NEW MEGANIUM RG CubeXX  45.5        13
1           Canada   NEW MEGANIUM RG 40XXV  36.5        19
2           France     NEW MEGANIUM RG35XX  38.5        12
3          Germany   NEW MEGANIUM RG 40XXV  40.0         7
4            Japan   NEW MEGANIUM RG 40XXV  48.0        11
5               UK     NEW MEGANIUM RG35XX  36.5         7
6              USA         MEGANIUM RG353M  37.0         4

In [125]:
#idade média dos compradores por país
idade_media = df.groupby(['delivery_country'])['age'].mean().reset_index()
idade_media

  delivery_country        age
0        Australia  44.888889
1           Canada  36.571429
2           France  44.250000
3          Germany  44.222222
4            Japan  44.875000
5               UK  44.600000
6              USA  39.333333